@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid white; */
    color: white;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background: hsl(235, 16%, 14%);
}

.container {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > h1 {
    font-size: 40px;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    z-index: 2;
}

.counter-main {
    display: flex;
    justify-content: space-around;
    text-align: center;
    z-index: 2;
}

.day,
.hour,
.minute,
.second {
    font-size: 3rem;
}

#main-bg {
    position: fixed;
    bottom: 0;
    left: 0;
}

#sd-bg {
    position: fixed;
    top: 0;
}

.background {
    overflow: hidden;
    z-index: 1;
}

.attribution { 
    text-align: center;
    font-size: 11px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em;
    z-index: 1;
}

.attribution a { 
    color: hsl(228, 85%, 69%);
    text-decoration: none;
}

/* mobile version */

@media screen and (max-width: 600px) {
    body {
      background-color: hsl(235, 16%, 14%);
    }

    .container {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header > h1 {
        font-size: 30px;
    }

    header {
        display: flex;
        justify-content: center;
        padding: 1rem;
        z-index: 2;
    }

    .counter-main {
        display: flex;
        justify-content: space-around;
        text-align: center;
        z-index: 2;
    }

    h2 {
        font-size: 1rem;
    }

    .day,
    .hour,
    .minute,
    .second {
        font-size: 2rem;
    }

    #main-bg {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    #sd-bg {
        position: fixed;
        top: 0;
    }

    .background {
        overflow: hidden;
        z-index: 1;
    }

    .attribution { 
        padding: 1em;
        font-size: 11px;
        z-index: 1;
    }

    .attribution a { 
        color: hsl(228, 85%, 69%);
        text-decoration: none;
    }
}